{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
  {% if category %}
     {{ product.name }} - ABC Store
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row my-prod-row-class">
    <div class="mx-auto">
      <p><a href="{% url 'ecom_app:allProdCat' %}" >Home</a> <a href="{{ product.category.get_url }}"></a>| {{ product.name }}</p>
    </div>
  </div>
<div class="container">
<br>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <div style="min-width:12rem; padding-bottom: 15px;">
        <img src="{{ product.image.url }}" alt="{{product.name}}" style="max-height: 350px;">
      </div>
    </div>
    <div class="text-lef">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <h1 class="my-prod-title">{{product.name}}</h1>
        <p>${{product.price}}</p>
        <p class="my-title">Product Description</p>
        <p class="text-justify my-prod-text">{{product.description}}</p>
        {% if product.stock <= 0 %}
          <p class="text-justify my-prod-text"><b>Out of Stock</b></p>
        {% else %}
          <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-secondary">Add to Cart</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}