body {
    font-family : 'Roboto', sans-serif;
}

/* NAVBAR */
.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}

/* CATEGORY */
.my-row-class {
    padding-top: 5px;
}

.my-row-class .mx-auto {
    color: #000;
    font-size: 12px;
}

.my-image {
    width: 100%;
    height: auto;
}

.my-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.my-image-padding {
    padding: 5px;
}

.my-bottom-margin {
    margin-bottom: 10px;
}

.card-body h4{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}


/* PRODUCT */

.my-prod-row-class {
    padding-top: 15px;
    padding-bottom: 20px;
}

.my-prod-row-class .mx-auto{
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.my-prod-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.my-prod-text {
    padding-right: 2px;
}

/* SEARCH */
.my-search-text{
    padding-top: 20px;
}

/* CART */

.my-custom-table{
    min-width: 400px;
    font-size: 14px;
}

.my-custom-thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f8fa!important;
}
.custom-a {
    text-decoration: none;
}

.custom-icon {
    text-decoration: none;
    color: #868e96 !important;
}

..my-custom-button {
    margin-top: 5px;
}
/* FOOTER */

.my_footer{
    background-color: #f8f9fa;
    height: 60px;
}

.my_footer p{
    padding-top: 20px;
    font-size: 14px;
}